<!DOCTYPE html>
<html lang="en" ng-app="iCook4meApp">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Francisco López Muñoz">
    <title>iCook4me</title>
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/omb-style.css">
    <base href="/">
</head>

<body>
    <ng-include ng-if="section !== 'login'" src="'/templates/navbar/navbar.html'"></ng-include>
    <ng-include ng-if="section === 'login'" src="'/templates/navbar/navlogin.html'"></ng-include>
    
    <main class="container">
        <ng-view></ng-view>
    </main>

    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-route/angular-route.min.js"></script>
    <script src='/bower_components/angular-jwt/dist/angular-jwt.min.js'></script>
    <script src='/bower_components/ngInfiniteScroll/build/ng-infinite-scroll.min.js'></script>
    
    <script src="/js/components/index.js"></script>
    <script src="/js/components/formsearchrecipes/formSearchRecipes.js"></script>
    <script src="/js/components/recipeimg/recipeImg.js"></script>
    <script src="/js/components/recipenavbar/recipeNavbar.js"></script>
    <script src="/js/components/recipeexternal/recipeExternal.js"></script>
    <script src="/js/components/recipeinternal/recipeInternal.js"></script>

    
    <script src="/js/index.js"></script>
    <script src="/js/config.js"></script>
    <script src="/js/run.js"></script>
    <script src="/js/authservices/StorageFact.js"></script>
    <script src="/js/authservices/AuthFact.js"></script>
    <script src="/js/authservices/interceptors.js"></script>
    <script src="/js/fact/ProxyRecipesFact.js"></script>
    <script src="/js/fact/ApiUsersFact.js"></script>
    <script src="/js/fact/ApiRecipesFact.js"></script>
    <script src="/js/ctrl/LoginCtrl.js"></script>
    <script src="/js/ctrl/RegisterCtrl.js"></script>
    <script src="/js/ctrl/HomeCtrl.js"></script>
    <script src="/js/ctrl/SearchRecipeCtrl.js"></script>
    <script src="/js/ctrl/AddRecipeCtrl.js"></script>
    <script src="/js/ctrl/EditRecipeCtrl.js"></script>
    <script src="/js/ctrl/RecipeDetailsCtrl.js"></script>
    <script src="/js/ctrl/BookRecipesCtrl.js"></script>
    <script src="/js/ctrl/ProfileCtrl.js"></script>    
    <script src="/js/ctrl/ProfileEditCtrl.js"></script>
</body>

</html>
