body {
  padding-top: 70px;
  padding-bottom: 15px; }

.msg-alert {
  position: absolute;
  width: 90%;
  left: 5%;
  z-index: 400; }

.link {
  padding: 5px;
  margin: 0 5px;
  color: #ffffff;
  cursor: pointer; }
  .link:hover {
    color: #f49e57;
    text-decoration: none; }
  .link.active {
    color: #f49e57; }
  .link:focus {
    text-decoration: none; }

.link-second {
  color: #5d5d5d; }
  .link-second:hover {
    color: #2a81ce;
    text-decoration: none; }
  .link-second.active {
    color: #2a81ce; }
  .link-second:focus {
    text-decoration: none; }

.title-section {
  text-align: center;
  margin: 0 auto 20px; }
  .title-section span {
    color: #ff5917;
    font-weight: 600; }

/* Menssage */
.messages {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0;
  background: rgba(250, 250, 250, 0.6);
  z-index: 1010; }
  .messages .alert-info {
    width: 90%;
    margin: 20% auto;
    text-align: center; }

/* Btn Show more rules */
.btn-show-more {
  border-radius: 0;
  width: 80%;
  background: #5d5d5d;
  border-color: #5d5d5d; }
  .btn-show-more:hover {
    background: #2a81ce; }
  .btn-show-more:focus {
    background: #2a81ce; }

.bold-text {
  font-weight: 700; }

.navbar-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1001; }
  .navbar-header .items-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
  .navbar-header .items-nav-second {
    justify-content: center; }

.navbar-primary {
  background: #404040;
  width: 100%;
  box-shadow: 0 0 4px #000; }
  .navbar-primary .link {
    font-size: 25px;
    padding: 8px;
    margin: 0 15px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center; }
  .navbar-primary .brand-nav {
    font-family: "Indie Flower", cursive;
    margin: 0;
    padding: 0; }
    .navbar-primary .brand-nav .link {
      padding: 0;
      font-size: 36px; }

.navbar-second {
  background: #e6e6e6;
  top: 51px;
  left: 0;
  z-index: 999;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2); }
  .navbar-second .link {
    line-height: 40px;
    font-size: 22px;
    padding: 8px;
    margin: 0 25px; }
  .navbar-second h3 {
    margin: 0;
    padding: 0; }
    .navbar-second h3 .link {
      font-size: 22px; }

.navbar-list {
  display: inline;
  margin: 0;
  padding: 0; }
  .navbar-list li {
    list-style: none;
    display: inline-block; }

/* nav form search rules */
.nav-form-search {
  width: 100%;
  text-align: center; }

.form-search {
  line-height: 25px;
  font-size: 15px;
  padding: 5px;
  width: 100%; }

.search-input {
  background: #FFFFFF;
  line-height: 30px;
  border-radius: 0;
  width: 90%;
  margin: 0 auto;
  padding-left: 30px;
  border: 1px solid #4a86bb; }

.icon-search-input {
  position: absolute;
  font-size: 19px;
  padding: 5px 8px;
  background: transparent; }

.navbar-left {
  display: flex;
  align-items: center; }

#form-navbar .form-search {
  width: 200px; }
  #form-navbar .form-search .input-group {
    width: 100%; }
  #form-navbar .form-search .search-input {
    width: 100%; }

#searchform-responsive {
  display: none; }

.nav-button li {
  line-height: 40px; }
.nav-button button {
  border-radius: 0;
  padding: 6px 15px;
  margin: -2px 20px 0; }

.text-nav {
  font-size: 11px;
  padding-left: 10px;
  line-height: initial; }

.user-navbar a {
  padding: 0; }
  .user-navbar a img {
    max-height: 35px;
    border-radius: 20%; }

.col-flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between; }

.item-flex {
  color: #484848;
  border: 1px solid #ddd;
  margin-bottom: 20px; }

.img-recipe-show {
  height: 200px;
  width: 100%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center; }

.link-text {
  color: #696969; }
  .link-text:hover {
    text-decoration: none;
    color: #5a5238; }

.thumbnail-recipe {
  overflow: hidden;
  width: 300px;
  color: #696969; }
  .thumbnail-recipe .recipe-content {
    padding: 10px; }
  .thumbnail-recipe header {
    font-size: 0.95em;
    font-weight: 600; }
    .thumbnail-recipe header h4 {
      margin: 0;
      margin-bottom: 5px;
      font-weight: 600;
      text-decoration: none;
      font-size: 20px;
      color: #4a86bb; }
      .thumbnail-recipe header h4 a {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
        .thumbnail-recipe header h4 a::first-letter {
          text-transform: uppercase; }
      .thumbnail-recipe header h4 a:hover {
        color: #ff9d4b;
        text-decoration: none; }
      .thumbnail-recipe header h4 a:focus {
        text-decoration: none; }
  .thumbnail-recipe .preview-text {
    min-height: 74px;
    margin-bottom: 5px; }
  .thumbnail-recipe .user-thumbnail a {
    text-decoration: none; }
  .thumbnail-recipe .user-thumbnail img {
    display: inline;
    max-height: 40px; }
  .thumbnail-recipe .link-user-thumbnail {
    display: inline-block;
    line-height: 25px;
    font-size: 13px;
    font-weight: 600;
    margin-left: 5px;
    color: #4a86bb; }
    .thumbnail-recipe .link-user-thumbnail:hover {
      color: #ff9d4b;
      text-decoration: none; }
    .thumbnail-recipe .link-user-thumbnail:focus {
      text-decoration: none; }
    .thumbnail-recipe .link-user-thumbnail:first-letter {
      text-transform: uppercase; }
  .thumbnail-recipe .navbar-thumbnail-recipe {
    margin: 5px auto 10px;
    line-height: 35px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-left: none;
    border-right: none; }
  .thumbnail-recipe .info-details {
    font-size: 11px; }
    .thumbnail-recipe .info-details span {
      display: inline-block; }
    .thumbnail-recipe .info-details .like-info i {
      font-weight: 10px; }
    .thumbnail-recipe .info-details .date-info {
      float: right; }

.link-thumbnail {
  line-height: 25px;
  font-size: 15px;
  padding: 5px;
  margin: 0 15px;
  color: #4a86bb; }
  .link-thumbnail:hover {
    color: #ff9d4b;
    text-decoration: none; }
  .link-thumbnail:focus {
    text-decoration: none; }
  .link-thumbnail i {
    font-size: 18px; }

.link-like {
  color: #4a86bb; }
  .link-like:hover {
    color: #ff9d4b;
    text-decoration: none; }

.link-publisher {
  color: #5d5d5d; }
  .link-publisher:hover {
    color: #2a81ce; }
  .link-publisher:focus {
    text-decoration: none; }

.external-footer {
  margin: 30px 0 10px; }

.external-blog {
  font-size: 0.95em;
  font-weight: 600; }

.link-apply {
  color: #d45e55; }

@media all and (max-width: 730px) {
  .col-flex {
    justify-content: space-around; } }
#login {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background-image: url("/img/backgroundimgicook4me.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  padding: 20px 0;
  overflow: hidden; }
  #login #content {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%); }
  #login .flex-register,
  #login .flex-login {
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row;
    justify-content: space-around;
    z-index: 390; }
  #login .flex-register {
    flex-wrap: wrap; }
  #login #form-login {
    max-width: 300px; }
    #login #form-login span,
    #login #form-login input,
    #login #form-login button {
      border-radius: 0; }
  #login .color-text {
    color: #FFF; }
  #login .new-count {
    margin-top: 20px;
    text-align: center;
    font-size: 13px;
    letter-spacing: 0.3px; }
    #login .new-count .link {
      color: #2a81ce; }
      #login .new-count .link:hover {
        color: #5d5d5d; }
    #login .new-count .btn-success {
      border-radius: 0;
      margin-top: 10px; }
  #login .box-text {
    max-width: 400px; }
    #login .box-text h1 {
      margin-top: -20px;
      font-family: "Indie Flower", cursive;
      font-size: 5em;
      color: #FFFFFF;
      text-align: center; }
    #login .box-text h3 {
      font-family: "Open Sans", sans-serif;
      text-align: center;
      line-height: 28px; }

#form-add-recipe {
  margin-top: -40px; }

.receipe-details {
  margin-top: 50px; }

.fullscreen-recipe textarea,
.fullscreen-recipe input {
  border-radius: 0;
  outline: 0;
  background: rgba(243, 243, 243, 0.4); }
  .fullscreen-recipe textarea:focus,
  .fullscreen-recipe input:focus {
    background: #FFFFFF; }
.fullscreen-recipe input.title-recipe {
  width: 100%;
  text-align: center;
  color: #4a86bb;
  font-size: 1.4em;
  font-weight: 600;
  margin-bottom: 50px; }
.fullscreen-recipe button {
  border-radius: 0; }
.fullscreen-recipe .fullscreen-recipe-img {
  margin-bottom: 30px; }
  .fullscreen-recipe .fullscreen-recipe-img .img-input {
    max-width: 300px;
    margin: 0 auto; }
  .fullscreen-recipe .fullscreen-recipe-img img {
    width: 250px;
    border: 3px solid #eaeaea;
    margin-bottom: 10px; }
  .fullscreen-recipe .fullscreen-recipe-img input {
    background: transparent;
    box-shadow: none;
    width: 100%; }
.fullscreen-recipe .fullscreen-recipe-description,
.fullscreen-recipe .fullscreen-recipe-preparation,
.fullscreen-recipe .fullscreen-recipe-ingredients {
  margin-bottom: 20px; }
  .fullscreen-recipe .fullscreen-recipe-description .group-input,
  .fullscreen-recipe .fullscreen-recipe-preparation .group-input,
  .fullscreen-recipe .fullscreen-recipe-ingredients .group-input {
    margin-bottom: 10px; }
  .fullscreen-recipe .fullscreen-recipe-description h3,
  .fullscreen-recipe .fullscreen-recipe-preparation h3,
  .fullscreen-recipe .fullscreen-recipe-ingredients h3 {
    text-decoration: none;
    border-bottom: 2px solid #eaaa74;
    max-width: 70%;
    margin-bottom: 15px; }
  .fullscreen-recipe .fullscreen-recipe-description input,
  .fullscreen-recipe .fullscreen-recipe-preparation input,
  .fullscreen-recipe .fullscreen-recipe-ingredients input {
    width: calc(100% - 80px);
    display: inline-block; }
  .fullscreen-recipe .fullscreen-recipe-description textarea,
  .fullscreen-recipe .fullscreen-recipe-preparation textarea,
  .fullscreen-recipe .fullscreen-recipe-ingredients textarea {
    width: 100%;
    min-height: 120px; }
  .fullscreen-recipe .fullscreen-recipe-description i,
  .fullscreen-recipe .fullscreen-recipe-preparation i,
  .fullscreen-recipe .fullscreen-recipe-ingredients i {
    font-size: 18px;
    padding: 2px 1%;
    margin: 0 2px;
    cursor: pointer;
    line-height: 25px;
    color: #4a86bb; }
    .fullscreen-recipe .fullscreen-recipe-description i:hover,
    .fullscreen-recipe .fullscreen-recipe-preparation i:hover,
    .fullscreen-recipe .fullscreen-recipe-ingredients i:hover {
      color: #ff9d4b; }
  .fullscreen-recipe .fullscreen-recipe-description li,
  .fullscreen-recipe .fullscreen-recipe-preparation li,
  .fullscreen-recipe .fullscreen-recipe-ingredients li {
    font-size: 1.1em; }
  .fullscreen-recipe .fullscreen-recipe-description ul,
  .fullscreen-recipe .fullscreen-recipe-preparation ul,
  .fullscreen-recipe .fullscreen-recipe-ingredients ul {
    margin-left: -30px;
    margin-right: 10px; }
    .fullscreen-recipe .fullscreen-recipe-description ul .list-ingredients,
    .fullscreen-recipe .fullscreen-recipe-preparation ul .list-ingredients,
    .fullscreen-recipe .fullscreen-recipe-ingredients ul .list-ingredients {
      display: inline-block;
      list-style: none;
      margin-bottom: 5px;
      margin-right: 10px;
      border-radius: 10px;
      padding: 4px 10px;
      background: #d0d7fb; }
      .fullscreen-recipe .fullscreen-recipe-description ul .list-ingredients i,
      .fullscreen-recipe .fullscreen-recipe-preparation ul .list-ingredients i,
      .fullscreen-recipe .fullscreen-recipe-ingredients ul .list-ingredients i {
        display: inline;
        padding: 2px 0; }
  .fullscreen-recipe .fullscreen-recipe-description ol,
  .fullscreen-recipe .fullscreen-recipe-preparation ol,
  .fullscreen-recipe .fullscreen-recipe-ingredients ol {
    list-style: none;
    text-align: justify;
    margin-left: -20px; }
    .fullscreen-recipe .fullscreen-recipe-description ol li,
    .fullscreen-recipe .fullscreen-recipe-preparation ol li,
    .fullscreen-recipe .fullscreen-recipe-ingredients ol li {
      padding: 5px 0; }
      .fullscreen-recipe .fullscreen-recipe-description ol li .line-step,
      .fullscreen-recipe .fullscreen-recipe-preparation ol li .line-step,
      .fullscreen-recipe .fullscreen-recipe-ingredients ol li .line-step {
        width: 40%;
        margin: 0px 0 5px 10px;
        height: 1px;
        box-shadow: 0 1px rgba(0, 0, 0, 0.4); }
  .fullscreen-recipe .fullscreen-recipe-description button,
  .fullscreen-recipe .fullscreen-recipe-preparation button,
  .fullscreen-recipe .fullscreen-recipe-ingredients button {
    display: inline;
    width: 67px; }
.fullscreen-recipe .fullscreen-recipe-preparation textarea {
  min-height: 100px;
  margin-bottom: 5px; }
.fullscreen-recipe .fullscreen-recipe-preparation textarea + div {
  overflow: hidden; }
.fullscreen-recipe .fullscreen-recipe-preparation textarea + div > button {
  float: right; }

.show-recipe h2 {
  text-align: center;
  font-weight: bold;
  margin: 0 auto 30px; }
.show-recipe .fullscreen-recipe-img {
  margin-bottom: 0; }
  .show-recipe .fullscreen-recipe-img img {
    width: auto;
    height: auto;
    max-height: 300px;
    margin-bottom: 10px; }
  .show-recipe .fullscreen-recipe-img .recipeinfo {
    text-align: left;
    font-weight: 600; }
    .show-recipe .fullscreen-recipe-img .recipeinfo div {
      margin-bottom: 5px; }
    .show-recipe .fullscreen-recipe-img .recipeinfo .link-username-recipe {
      display: inline-block;
      margin: 0 4px; }
      .show-recipe .fullscreen-recipe-img .recipeinfo .link-username-recipe::first-letter {
        text-transform: uppercase; }
    .show-recipe .fullscreen-recipe-img .recipeinfo img {
      display: inline-block;
      max-height: 40px;
      border-radius: 20%;
      border: none;
      width: auto; }
.show-recipe .fullscreen-recipe-description,
.show-recipe .fullscreen-recipe-preparation,
.show-recipe .fullscreen-recipe-ingredients {
  margin-bottom: 20px; }
  .show-recipe .fullscreen-recipe-description h3,
  .show-recipe .fullscreen-recipe-preparation h3,
  .show-recipe .fullscreen-recipe-ingredients h3 {
    text-decoration: none;
    border-bottom: 1px solid #eaaa74;
    max-width: 70%;
    margin-bottom: 15px; }
  .show-recipe .fullscreen-recipe-description p,
  .show-recipe .fullscreen-recipe-preparation p,
  .show-recipe .fullscreen-recipe-ingredients p {
    font-size: 1.1em;
    padding: 3px 0;
    text-align: justify;
    font-weight: 600;
    color: #696969; }
  .show-recipe .fullscreen-recipe-description ul,
  .show-recipe .fullscreen-recipe-preparation ul,
  .show-recipe .fullscreen-recipe-ingredients ul {
    margin-left: 0px;
    margin-right: 0px; }
  .show-recipe .fullscreen-recipe-description li,
  .show-recipe .fullscreen-recipe-preparation li,
  .show-recipe .fullscreen-recipe-ingredients li {
    padding: 3px 0;
    font-size: 1.1em; }
  .show-recipe .fullscreen-recipe-description ol,
  .show-recipe .fullscreen-recipe-preparation ol,
  .show-recipe .fullscreen-recipe-ingredients ol {
    list-style: none;
    text-align: justify;
    margin-left: -20px; }
    .show-recipe .fullscreen-recipe-description ol li,
    .show-recipe .fullscreen-recipe-preparation ol li,
    .show-recipe .fullscreen-recipe-ingredients ol li {
      padding: 5px 0; }

.profile .img-user-thumbnail span {
  margin-bottom: 0px; }
.profile .user-info {
  margin-top: 10px; }
  .profile .user-info h5:first-letter {
    text-transform: uppercase; }
.profile .button-profile {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px; }
  .profile .button-profile .btn {
    border-radius: 0;
    font-weight: 600;
    margin-right: 10px; }
.profile .title-section {
  max-width: 80%;
  margin-top: 30px;
  padding: 10px 0 5px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
.profile .recipe-list .item-flex {
  width: 150px; }
  .profile .recipe-list .item-flex section h4 {
    font-size: 12px;
    font-weight: 600; }
  .profile .recipe-list .item-flex .link-text {
    color: #4a86bb; }
    .profile .recipe-list .item-flex .link-text:hover {
      color: #ff9d4b; }

.profile-edit .title-section {
  max-width: 80%;
  margin-top: 0px;
  border: none; }
.profile-edit .img-input {
  max-width: 300px;
  margin: 0 auto; }
.profile-edit label input {
  margin-top: 5px; }

.profile-followers h5 {
  margin: 10px 0 0; }
.profile-followers div {
  padding: 0 5px;
  margin: 0; }
  .profile-followers div div {
    font-size: 12px;
    color: #696969; }

.profile-flex {
  display: flex; }

.img-profile {
  max-width: 100px; }

.recipe-profile .user-thumbnail {
  display: none; }

#img-file {
  margin-top: 5px;
  width: 100%; }

.email-profile {
  color: #2a81ce; }

@media all and (max-width: 800px) {
  body {
    padding-top: 120px; }

  .profile {
    margin-top: -40px; }

  .receipe-details {
    margin-top: 0px; }

  #login #form-login {
    margin-top: 10%; }
  #login .box-text {
    max-width: 400px;
    margin: 0 auto; }
    #login .box-text h1 {
      font-size: 4.5em; }

  #form-navbar {
    display: none; }

  #searchform-responsive {
    display: block; } }
@media all and (max-width: 600px) {
  body {
    padding-top: 15px;
    padding-bottom: 100px; }

  .navbar-header {
    top: inherit;
    bottom: 0; }

  .navbar-primary .link {
    font-size: 20px;
    padding: 8px;
    margin: 0 15px; }
  .navbar-primary h1 {
    font-size: 30px; }
  .navbar-primary .brand-nav .link {
    font-size: 30px; }

  .navbar-second {
    top: inherit;
    bottom: 51px; }
    .navbar-second .link {
      line-height: 36px;
      font-size: 20px;
      margin: 0 20px; }
    .navbar-second h3 .link {
      font-size: 20px; }

  .search-input {
    width: 90%; }

  .text-nav {
    display: none; }

  #form-add-recipe,
  .profile {
    margin-top: 0px;
    margin-bottom: -40px; } }
@media all and (max-width: 450px) {
  .navbar-primary .link {
    font-size: 19px;
    padding: 6px;
    margin: 0 5px; }
  .navbar-primary h1 {
    font-size: 25px; }
  .navbar-primary .brand-nav .link {
    font-size: 25px; }

  .navbar-second {
    bottom: 46px; }
    .navbar-second .link {
      font-size: 18px; }
    .navbar-second h3 .link {
      font-size: 18px; }

  .link {
    font-size: 18px;
    margin: 0 1px; }

  .navbar-thumbnail-recipe .link-thumbnail {
    font-size: 15px;
    margin: 0 15px; }

  .navbar-second .link {
    margin: 0 8px; }

  .title-section {
    font-size: 20px; }

  #login .box-text {
    max-width: 350px; } }

/*# sourceMappingURL=style.css.map */
