.col-flex
  display: flex
  flex-wrap: wrap
  flex-direction: row
  justify-content: space-between
  
.item-flex
  color: #484848
  border: 1px solid #ddd
  margin-bottom: 20px

.img-recipe-show
  height: 200px
  width: 100%
  background-repeat: no-repeat
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
  background-position: center

.link-text
  color: $colortext-primary
  &:hover
    text-decoration: none
    color: rgb(90, 82, 56)

.thumbnail-recipe
  overflow: hidden
  width: 300px
  color: $colortext-primary
  .recipe-content
    padding: 10px
  header
    font-size: 0.95em
    font-weight: 600
    h4
      margin: 0
      margin-bottom: 5px
      font-weight: 600
      text-decoration: none
      font-size: 20px
      color: $link-thumbnail-primary
      a
        display: block
        overflow: hidden
        text-overflow: ellipsis
        white-space: nowrap
      a:hover
        color: $link-thumbnail-hover
        text-decoration: none
      a:focus
        text-decoration: none
  .preview-text
    min-height: 74px
    margin-bottom: 5px
  .user-thumbnail
    a
      text-decoration: none
    img
      display: inline
      max-height: 40px
  .link-user-thumbnail
    display: inline-block
    line-height: 25px
    font-size: 13px
    font-weight: 600
    margin-left: 5px
    color: $link-thumbnail-primary
    &:hover
      color: $link-thumbnail-hover
      text-decoration: none
    &:focus
      text-decoration: none
    &:first-letter
      text-transform: uppercase
  .navbar-thumbnail-recipe
    margin: 5px auto 10px
    line-height: 35px
    border: 1px solid rgba(0,0,0,0.2)
    border-left: none
    border-right: none
  .info-details
    font-size: 11px
    span
      display: inline-block
    .like-info
      i
        font-weight: 10px
    .date-info
      float: right

.link-thumbnail
  line-height: 25px
  font-size: 15px
  padding: 5px
  margin: 0 15px
  color: $link-thumbnail-primary
  &:hover
    color: $link-thumbnail-hover
    text-decoration: none
  &:focus
    text-decoration: none
  i
    font-size: 18px
  
.link-like
  color: $link-thumbnail-primary
  &:hover
    color: $link-thumbnail-hover
    text-decoration: none

.link-publisher
  color: $link-second
  &:hover
    color: $link-second-hover
  &:focus
    text-decoration: none

.external-footer
  margin: 30px 0 10px

.external-blog
  font-size: 0.95em
  font-weight: 600

.link-apply
  color: $link-apply

@media all and (max-width: 730px )    
  .col-flex
    justify-content: space-around