#login
  position: absolute
  top: 0
  left: 0
  width: 100%
  min-height: 100%
  background-image: url('/img/backgroundimgicook4me.jpg')
  background-repeat: no-repeat
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
  background-position: center
  padding: 20px 0
  overflow: hidden
  #content
    position: absolute
    top: 50%
    width: 100%
    transform: translateY(-50%)
  .flex-register,
  .flex-login
    display: flex
    flex-wrap: wrap-reverse
    flex-direction: row
    justify-content: space-around
    z-index: 390
  .flex-register
    flex-wrap: wrap
  #form-login
    max-width: 300px
    span,
    input,
    button
      border-radius: 0
  .color-text
    color: #FFF
  .new-count
    margin-top: 20px
    text-align: center
    font-size: 13px
    letter-spacing: 0.3px
    .link
      color: $link-second-hover
      &:hover
        color: $link-second  
    .btn-success
      border-radius: 0
      margin-top: 10px
  .box-text
    max-width: 400px
    h1
      margin-top: -20px
      font-family: 'Indie Flower', cursive
      font-size: 5em
      color: #FFFFFF
      text-align: center
    h3
      font-family: 'Open Sans', sans-serif
      text-align: center
      line-height: 28px
