#login
  .row-flex
    display: flex
    flex-wrap: wrap
    flex-direction: column 
    align-items: center
  .item-row-flex
    margin: 10px 0
    width: 300px
    text-align: center
  .social-buttons 
    a
      border-radius: 0
    a
      color: #FFF
      opacity: 0.9
      &:hover
        opacity: 0.8
    .btn-facebook
      background: #3b5998  
    .btn-twitter
      background: #00aced
    .btn-google
      background: #c32f10
  .not-button
    margin: 5px 0
  .remember-me
    text-align: right
    margin-top: 10px
    span
      margin-left: 5px
  .new-count
    margin-top: 20px
    text-align: center
    font-size: 12px
    font-weight: 600
    .link
      color: $link-second-hover
      &:hover
        color: $link-second
  .btn-success
    border-radius: 0
    margin-top: 10px