.navbar-header
  position: fixed
  top: 0
  width: 100%
  z-index: 1001
  .items-nav
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
  .items-nav-second
    justify-content: center

.navbar-primary
  background: $background-navbar
  width: 100%
  box-shadow: 0 0 4px #000
  .link
    line-height: 51px
    font-size: 25px
    padding: 8px
    margin: 0 15px
  .brand-nav
    font-family: 'Indie Flower', cursive
    margin: 0
    padding: 0
    .link
      padding: 0
      font-size: 36px

.navbar-second
  background: $background-subnavbar
  top: 51px
  left: 0
  z-index: 999
  box-shadow: 0 0 3px rgba(0,0,0,0.2)
  .link
    line-height: 40px
    font-size: 22px
    padding: 8px
    margin: 0 25px
  h3
    margin: 0
    padding: 0
    .link
      font-size: 22px

.navbar-list
  display: inline
  margin: 0
  padding: 0
  li
    list-style: none
    display: inline-block

/* nav form search rules */
.nav-form-search
  width: 100%
  text-align: center

.form-search
  line-height: 25px
  font-size: 15px
  padding: 5px
  width: 100%

.form-arrow
  width: 83%

.search-input
  background: #FFFFFF
  line-height: 30px
  border-radius: 0
  width: 90%
  text-align: center
  margin: 0 auto
  padding: 0 10px 0px 24px
  border: 1px solid $link-thumbnail-primary

.icon-search-input
  position: absolute
  font-size: 19px
  padding: 5px 8px
  background: transparent

.nav-button
  li
    line-height: 40px
  button
    border-radius: 0
    padding: 6px 15px
    margin: -2px 20px 0

.text-nav
  font-size: 12px
  margin-left: -10px
  padding: 9px 11px
  line-height: initial
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis