.profile
  margin-top: -40px

  .img-user-thumbnail
    span
      margin-bottom: 0px
  .user-info
    margin-top: 10px
    h5
      &:first-letter
        text-transform: uppercase

  .button-profile
    display: flex
    flex-direction: row
    margin-bottom: 20px
    .btn
      border-radius: 0
      font-weight: 600
      margin-right: 10px

  .title-section
    max-width: 80%
    margin-top: 30px
    padding: 10px 0 5px
    border-top: 1px solid rgba(0,0,0,0.2)
    border-bottom: 1px solid rgba(0,0,0,0.1)

  .recipe-list
    .item-flex
      width: 150px
      section
        h4
          font-size: 12px
          font-weight: 600
      .link-text
        color: $link-thumbnail-primary
        &:hover
          color: $link-thumbnail-hover
        
.profile-edit
  .title-section
    max-width: 80%
    margin-top: 0px
    border: none
  .img-input
    max-width: 300px
    margin: 0 auto
  label
    input
      margin-top: 5px