@media all and (max-width: 700px )
  .text-nav
    display: none

@media all and (max-width: 600px )
  body
    padding-top: 15px
    padding-bottom: 100px
  
  .navbar-header
    top: inherit
    bottom: 0
  
  .navbar-primary
    .link
      line-height: 40px
      font-size: 20px
      padding: 8px
      margin: 0 15px
    h1
      font-size: 30px
    .brand-nav
      .link
        font-size: 30px
 
  .navbar-second
    top: inherit
    bottom: 40px
    .link
      line-height: 36px
      font-size: 20px
      margin: 0 20px
    h3
      .link
        font-size: 20px

  .search-input
    width: 90%
  
  #profile
    margin-top: 0px
    margin-bottom: -40px

@media all and (max-width: 450px)
  .navbar-primary
    .link
      font-size: 19px
      padding: 6px
      margin: 0 5px
    h1
      font-size: 25px
    .brand-nav
      .link
        font-size: 25px
 
  .navbar-second
    .link
      font-size: 18px
    h3
      .link
        font-size: 18px

  .link
    line-height: 35px
    font-size: 18px
    margin: 0 1px

  .navbar-second
    .link
      margin: 0 8px
  
  .item-flex
    width: 260px
  
  .title-section
    font-size: 20px

  #login
    .item-row-flex
      width: 200px
