body {
  padding-top: 120px;
  padding-bottom: 15px; }

/* 1. link rules */
.link {
  padding: 5px;
  margin: 0 5px;
  color: #ffffff;
  cursor: pointer; }
  .link:hover {
    color: #f49e57;
    text-decoration: none; }
  .link.active {
    color: #f49e57; }
  .link:focus {
    text-decoration: none; }

.link-second {
  color: #5d5d5d; }
  .link-second:hover {
    color: #2a81ce;
    text-decoration: none; }
  .link-second.active {
    color: #2a81ce; }
  .link-second:focus {
    text-decoration: none; }

/* 2. Navbar rules */
.navbar-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1001; }
  .navbar-header .items-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }

.navbar-primary {
  background: #404040;
  width: 100%;
  box-shadow: 0 0 4px #000; }
  .navbar-primary .link {
    line-height: 51px;
    font-size: 25px;
    padding: 10px;
    margin: 0 20px; }
  .navbar-primary .brand-nav {
    font-family: "Indie Flower", cursive;
    margin: 0;
    padding: 0; }
    .navbar-primary .brand-nav .link {
      padding: 0;
      font-size: 36px; }

.navbar-second {
  background: #e6e6e6;
  top: 51px;
  left: 0;
  z-index: 999;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2); }
  .navbar-second .link {
    line-height: 40px;
    font-size: 22px;
    padding: 8px;
    margin: 0 25px; }
  .navbar-second h3 {
    margin: 0;
    padding: 0; }
    .navbar-second h3 .link {
      font-size: 22px; }

.navbar-list {
  display: inline;
  margin: 0;
  padding: 0; }
  .navbar-list li {
    list-style: none;
    display: inline-block; }

/* nav form search rules */
.nav-form-search {
  width: 100%;
  text-align: center; }

.form-search {
  line-height: 25px;
  font-size: 15px;
  padding: 5px;
  width: 100%; }

.form-arrow {
  width: 83%; }

.search-input {
  background: #FFFFFF;
  line-height: 30px;
  border-radius: 0;
  width: 90%;
  text-align: center;
  margin: 0 auto;
  padding: 0 10px 0px 24px;
  border: 1px solid #4a86bb; }

.icon-search-input {
  position: absolute;
  font-size: 19px;
  padding: 5px 8px;
  background: transparent; }

.nav-button li {
  line-height: 40px; }
.nav-button button {
  border-radius: 0;
  padding: 6px 15px;
  margin: -2px 20px 0; }

/* 3. Recipes grid */
.col-flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around; }

.item-flex {
  width: 300px;
  margin: 0 5px;
  color: #484848; }

.title-section {
  text-align: center;
  margin: 0 auto 20px; }
  .title-section span {
    color: #ff5917;
    font-weight: 600; }

/* 4. Recipes thumbnail */
.thumbnail {
  border-radius: 0; }

.thumbnail-recipe {
  margin-right: 0;
  margin-left: 0;
  color: #696969;
  max-width: 300px;
  overflow: hidden; }
  .thumbnail-recipe header div {
    padding: 0 3px;
    font-size: 0.95em;
    font-weight: 600; }
  .thumbnail-recipe header .row {
    padding: 0 10px; }
  .thumbnail-recipe header .link-username-recipe {
    margin: 0; }

.app-recipe {
  box-shadow: 0 0 3px 2px #87accc; }

.user-thumbnail-recipe {
  padding: 0 5px; }
  .user-thumbnail-recipe img {
    max-height: 50px; }
  .user-thumbnail-recipe a {
    margin-bottom: 5px;
    border: none;
    background: transparent; }

.img-user-thumbnail {
  padding: 0; }

.thumbnail-recipe section img {
  max-height: 150px; }
.thumbnail-recipe section a {
  margin-bottom: 5px;
  outline-color: #ddd; }
  .thumbnail-recipe section a:hover {
    border-color: #ddd; }
  .thumbnail-recipe section a:focus {
    border-color: #ddd; }
.thumbnail-recipe section .caption {
  padding: 0; }

.link-text {
  color: #696969; }
  .link-text:hover {
    text-decoration: none;
    color: #696969; }

.link-like {
  color: #4a86bb; }
  .link-like:hover {
    color: #ff9d4b;
    text-decoration: none; }

.link-thumbnail {
  line-height: 25px;
  font-size: 15px;
  padding: 5px;
  margin: 0 15px;
  color: #4a86bb; }
  .link-thumbnail:hover {
    color: #ff9d4b;
    text-decoration: none; }
  .link-thumbnail:focus {
    text-decoration: none; }
  .link-thumbnail i {
    font-size: 18px; }

.external-recipe .caption {
  margin: 10px 5px; }
.external-recipe .brand-extenal-recipe {
  line-height: 25px;
  font-size: 15px;
  font-weight: 600;
  padding: 5px;
  color: #4a86bb; }
  .external-recipe .brand-extenal-recipe:focus {
    text-decoration: none; }
  .external-recipe .brand-extenal-recipe:hover {
    color: #ff9d4b;
    text-decoration: none; }

.link-publisher {
  color: #5d5d5d; }
  .link-publisher:hover {
    color: #2a81ce; }
  .link-publisher:focus {
    text-decoration: none; }

.link-apply {
  color: #d45e55; }

/* Btn Show more rules */
.btn-show-more {
  border-radius: 0;
  width: 80%;
  background: #5d5d5d;
  border-color: #5d5d5d; }
  .btn-show-more:hover {
    background: #2a81ce; }
  .btn-show-more:focus {
    background: #2a81ce; }

.bold-text {
  font-weight: 700; }

.profile-followers h5 {
  margin: 10px 0 0; }
.profile-followers div {
  padding: 0 5px;
  margin: 0; }
  .profile-followers div div {
    font-size: 12px;
    color: #696969; }

.profile-flex {
  display: flex; }

.img-profile {
  max-width: 100px; }

.line-profile {
  height: 2px;
  width: 70%;
  margin: 15px auto 25px;
  background: rgba(0, 0, 0, 0.3); }

.recipe-list .item-flex {
  width: 150px; }

/* login rules */
.login-brand h1 {
  margin: 0; }

#login .row-flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center; }
#login .item-row-flex {
  margin: 10px 0;
  width: 300px;
  text-align: center; }
#login .social-buttons a {
  border-radius: 0; }
#login .social-buttons a {
  color: #FFF;
  opacity: 0.9; }
  #login .social-buttons a:hover {
    opacity: 0.8; }
#login .social-buttons .btn-facebook {
  background: #3b5998; }
#login .social-buttons .btn-twitter {
  background: #00aced; }
#login .social-buttons .btn-google {
  background: #c32f10; }
#login .not-button {
  margin: 5px 0; }
#login .remember-me {
  text-align: right;
  margin-top: 10px; }
  #login .remember-me span {
    margin-left: 5px; }

.fullscreen-recipe input {
  border-radius: 0;
  outline: 0;
  background: rgba(243, 243, 243, 0.4); }
  .fullscreen-recipe input:focus {
    background: #FFFFFF; }
.fullscreen-recipe input.title-recipe {
  width: 100%;
  text-align: center;
  color: #4a86bb;
  font-size: 1.4em;
  font-weight: 600;
  margin-bottom: 50px; }
.fullscreen-recipe button {
  border-radius: 0; }
.fullscreen-recipe .fullscreen-recipe-img {
  margin-bottom: 30px; }
  .fullscreen-recipe .fullscreen-recipe-img img {
    margin-bottom: 20px; }
  .fullscreen-recipe .fullscreen-recipe-img input {
    background: transparent;
    box-shadow: none;
    width: 100%; }
.fullscreen-recipe .fullscreen-recipe-preparation,
.fullscreen-recipe .fullscreen-recipe-ingredients {
  margin-bottom: 30px;
  /*li
   * list-style: none */ }
  .fullscreen-recipe .fullscreen-recipe-preparation h3,
  .fullscreen-recipe .fullscreen-recipe-ingredients h3 {
    text-decoration: underline;
    margin-bottom: 10px; }
  .fullscreen-recipe .fullscreen-recipe-preparation input,
  .fullscreen-recipe .fullscreen-recipe-ingredients input {
    width: calc(100% - 80px);
    margin-right: 0;
    display: inline-block; }
  .fullscreen-recipe .fullscreen-recipe-preparation i,
  .fullscreen-recipe .fullscreen-recipe-ingredients i {
    font-size: 18px;
    padding: 2px 1%;
    margin: 0 2px;
    cursor: pointer;
    line-height: 25px;
    color: #4a86bb; }
    .fullscreen-recipe .fullscreen-recipe-preparation i:hover,
    .fullscreen-recipe .fullscreen-recipe-ingredients i:hover {
      color: #ff9d4b; }
  .fullscreen-recipe .fullscreen-recipe-preparation button,
  .fullscreen-recipe .fullscreen-recipe-ingredients button {
    display: inline;
    width: 67px; }

.show-recipe h2 {
  text-align: center;
  font-weight: bold;
  margin: 0 auto 30px; }
.show-recipe .fullscreen-recipe-img {
  margin-bottom: 0; }
  .show-recipe .fullscreen-recipe-img img {
    max-height: 350px;
    border: 10px solid #eaeaea;
    margin-bottom: 10px; }
  .show-recipe .fullscreen-recipe-img .recipeinfo {
    text-align: left;
    font-weight: 600; }
    .show-recipe .fullscreen-recipe-img .recipeinfo .link-username-recipe {
      display: inline-block;
      margin: 0 4px; }
      .show-recipe .fullscreen-recipe-img .recipeinfo .link-username-recipe::first-letter {
        text-transform: uppercase; }
.show-recipe .fullscreen-recipe-preparation h3,
.show-recipe .fullscreen-recipe-ingredients h3 {
  text-decoration: none;
  border-bottom: 1px solid #000;
  max-width: 70%;
  margin-bottom: 15px; }
.show-recipe .fullscreen-recipe-preparation li,
.show-recipe .fullscreen-recipe-ingredients li {
  padding: 3px 0;
  font-size: 1.1em; }
.show-recipe .fullscreen-recipe-preparation ol,
.show-recipe .fullscreen-recipe-ingredients ol {
  list-style: none;
  text-align: justify;
  margin-left: -20px; }
  .show-recipe .fullscreen-recipe-preparation ol li,
  .show-recipe .fullscreen-recipe-ingredients ol li {
    padding: 5px 0; }
    .show-recipe .fullscreen-recipe-preparation ol li .line-step,
    .show-recipe .fullscreen-recipe-ingredients ol li .line-step {
      width: 40%;
      margin: 10px auto;
      height: 1px;
      box-shadow: 0 1px rgba(0, 0, 0, 0.4); }

/* Media Querys */
@media all and (max-width: 600px) {
  body {
    padding-top: 15px;
    padding-bottom: 100px; }

  .navbar-header {
    top: inherit;
    bottom: 0; }

  .navbar-primary .link {
    line-height: 40px;
    font-size: 20px;
    padding: 8px;
    margin: 0 15px; }
  .navbar-primary h1 {
    font-size: 30px; }
  .navbar-primary .brand-nav .link {
    font-size: 30px; }

  .navbar-second {
    top: inherit;
    bottom: 40px; }
    .navbar-second .link {
      line-height: 36px;
      font-size: 20px;
      margin: 0 20px; }
    .navbar-second h3 .link {
      font-size: 20px; }

  .search-input {
    width: 90%; } }
@media all and (max-width: 450px) {
  .navbar-primary .link {
    font-size: 19px;
    padding: 6px;
    margin: 0 5px; }
  .navbar-primary h1 {
    font-size: 25px; }
  .navbar-primary .brand-nav .link {
    font-size: 25px; }

  .navbar-second .link {
    font-size: 18px; }
  .navbar-second h3 .link {
    font-size: 18px; }

  .link {
    line-height: 35px;
    font-size: 18px;
    margin: 0 1px; }

  .navbar-second .link {
    margin: 0 8px; }

  .item-flex {
    width: 260px; }

  .title-section {
    font-size: 20px; }

  #login .item-row-flex {
    width: 200px; } }

/*# sourceMappingURL=style.css.map */
