body {
  padding-top: 120px;
  padding-bottom: 15px; }

.navbar-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; }
  .navbar-header nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }

.navbar-primary {
  background: #404040;
  width: 100%;
  box-shadow: 0 0 3px #000;
  z-index: 1001; }

.navbar-list {
  display: inline;
  margin: 0;
  padding: 0; }
  .navbar-list li {
    list-style: none;
    display: inline-block; }

.link {
  line-height: 50px;
  font-size: 25px;
  padding: 10px;
  margin: 0 20px;
  color: #ffffff;
  cursor: pointer; }
  .link:hover {
    color: #f49e57;
    text-decoration: none; }
  .link.active {
    color: #f49e57; }
  .link:focus {
    text-decoration: none; }

.navbar-second {
  background: #f5f5f5;
  width: 100%;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2); }
  .navbar-second .link {
    line-height: 40px;
    font-family: "Indie Flower", cursive;
    font-size: 22px;
    font-weight: 600;
    padding: 0 8px;
    margin: 0 25px;
    color: #7f7f7f; }
    .navbar-second .link:hover {
      color: #373737; }
    .navbar-second .link.active {
      color: #373737; }
  .navbar-second h3 {
    margin: 0;
    padding: 0; }
  .navbar-second .brand-nav .link {
    font-size: 26px; }

.col-flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around; }

.item-flex {
  width: 300px;
  margin: 0 5px; }

.thumbnail {
  border-radius: 0; }

.thumbnail-recipe {
  color: #696969;
  max-width: 300px;
  overflow: hidden; }
  .thumbnail-recipe header div {
    padding: 0 3px;
    font-size: 0.95em;
    font-weight: 600; }
  .thumbnail-recipe header .row {
    padding: 0 10px; }
  .thumbnail-recipe header .link-username-recipe {
    margin: 0; }

.app-recipe {
  box-shadow: 0 0 2px #87accc; }

.user-thumbnail-recipe {
  padding: 0 5px; }
  .user-thumbnail-recipe img {
    max-height: 50px; }
  .user-thumbnail-recipe a {
    margin-bottom: 5px;
    border: none;
    background: transparent; }

.img-user-thumbnail {
  padding: 0; }

.thumbnail-recipe section img {
  max-height: 150px; }
.thumbnail-recipe section a {
  margin-bottom: 5px;
  outline-color: #ddd; }
  .thumbnail-recipe section a:hover {
    border-color: #ddd; }
  .thumbnail-recipe section a:focus {
    border-color: #ddd; }
.thumbnail-recipe section .caption {
  padding: 0; }

.link-text {
  color: #696969; }
  .link-text:hover {
    text-decoration: none;
    color: #696969; }

.link-like {
  color: #4a86bb; }
  .link-like:hover {
    color: #ff9d4b;
    text-decoration: none; }

.link-thumbnail {
  line-height: 25px;
  font-size: 15px;
  padding: 5px;
  margin: 0 15px;
  color: #4a86bb; }
  .link-thumbnail:hover {
    color: #ff9d4b;
    text-decoration: none; }
  .link-thumbnail:focus {
    text-decoration: none; }
  .link-thumbnail i {
    font-size: 18px; }

.external-recipe .caption {
  margin: 10px 5px; }
.external-recipe .brand-extenal-recipe {
  line-height: 25px;
  font-size: 15px;
  font-weight: 600;
  padding: 5px;
  color: #4a86bb; }
  .external-recipe .brand-extenal-recipe:focus {
    text-decoration: none; }
  .external-recipe .brand-extenal-recipe:hover {
    color: #ff9d4b;
    text-decoration: none; }

.link-publisher {
  color: #7f7f7f; }
  .link-publisher:hover {
    color: #373737; }
  .link-publisher:focus {
    text-decoration: none; }

.link-apply {
  color: #d67d76; }

.btn-show-more {
  border-radius: 0;
  width: 300px;
  background: #6767be;
  border-color: #6767be; }

.bold-text {
  font-weight: 700; }

.profile-followers h5 {
  margin: 10px 0 0; }
.profile-followers div {
  padding: 0 5px;
  margin: 0; }
  .profile-followers div div {
    font-size: 12px;
    color: #696969; }

.profile-flex {
  display: flex; }

.img-profile {
  max-width: 100px; }

.line-profile {
  height: 2px;
  width: 70%;
  margin: 15px auto 25px;
  background: rgba(0, 0, 0, 0.3); }

.recipe-list .item-flex {
  width: 150px; }

.form-search-page {
  line-height: 25px;
  font-size: 15px;
  padding: 5px;
  width: 100%; }

.search-input {
  background: #FFFFFF;
  line-height: 30px;
  border-radius: 0;
  width: 70%;
  text-align: center;
  margin: 0 auto;
  padding: 0 10px 0px 24px;
  border: 1px solid #4a86bb; }

.icon-search-input {
  position: absolute;
  font-size: 19px;
  padding: 5px 8px;
  background: transparent; }

.login-brand h1 {
  margin: 0; }

#login .row-flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center; }
#login .item-row-flex {
  margin: 10px 0;
  width: 300px;
  text-align: center; }
#login .social-buttons a {
  border-radius: 0; }
#login .social-buttons a {
  color: #FFF;
  opacity: 0.9; }
  #login .social-buttons a:hover {
    opacity: 0.8; }
#login .social-buttons .btn-facebook {
  background: #3b5998; }
#login .social-buttons .btn-twitter {
  background: #00aced; }
#login .social-buttons .btn-google {
  background: #c32f10; }
#login .not-button {
  margin: 5px 0; }
#login .remember-me {
  text-align: right;
  margin-top: 10px; }
  #login .remember-me span {
    margin-left: 5px; }

.fullscreen-recipe input {
  border-radius: 0;
  border: none;
  outline: 0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  background: rgba(243, 243, 243, 0.3); }
.fullscreen-recipe input.title-recipe {
  width: 100%;
  text-align: center;
  color: #4a86bb;
  font-size: 1.4em;
  font-weight: 600;
  margin-bottom: 50px; }
.fullscreen-recipe button {
  border-radius: 0; }
.fullscreen-recipe .fullscreen-recipe-img {
  margin-bottom: 30px; }
  .fullscreen-recipe .fullscreen-recipe-img img {
    margin-bottom: 20px; }
  .fullscreen-recipe .fullscreen-recipe-img input {
    background: transparent;
    box-shadow: none; }
.fullscreen-recipe .fullscreen-recipe-preparation,
.fullscreen-recipe .fullscreen-recipe-ingredients {
  margin-bottom: 30px; }
  .fullscreen-recipe .fullscreen-recipe-preparation h3,
  .fullscreen-recipe .fullscreen-recipe-ingredients h3 {
    text-decoration: underline;
    margin-bottom: 10px; }
  .fullscreen-recipe .fullscreen-recipe-preparation input,
  .fullscreen-recipe .fullscreen-recipe-ingredients input {
    width: 80%; }
  .fullscreen-recipe .fullscreen-recipe-preparation i,
  .fullscreen-recipe .fullscreen-recipe-ingredients i {
    font-size: 18px;
    padding: 2px 1%;
    margin: 0 2px;
    cursor: pointer;
    line-height: 25px;
    color: #4a86bb; }
    .fullscreen-recipe .fullscreen-recipe-preparation i:hover,
    .fullscreen-recipe .fullscreen-recipe-ingredients i:hover {
      color: #ff9d4b; }
  .fullscreen-recipe .fullscreen-recipe-preparation button,
  .fullscreen-recipe .fullscreen-recipe-ingredients button {
    margin-top: 20px; }

@media all and (max-width: 650px) {
  body {
    padding-top: 15px;
    padding-bottom: 100px; }

  .navbar-header {
    top: inherit;
    bottom: 0; }
    .navbar-header nav {
      flex-direction: column-reverse; }

  .navbar-second .link {
    line-height: 35px;
    font-size: 18px;
    margin: 0 20px; }
  .navbar-second .brand-nav .link {
    font-size: 20px; }

  .link {
    line-height: 40px;
    font-size: 22px;
    margin: 0 10px; }

  .search-input {
    width: 90%; } }
@media all and (max-width: 450px) {
  body {
    padding-bottom: 90px; }

  .btn-show-more {
    width: 200px; }

  .link {
    line-height: 35px;
    font-size: 18px;
    margin: 0 1px; }

  .navbar-second .link {
    margin: 0 8px; }

  .item-flex {
    width: 260px; }

  .login-brand h1 a {
    font-size: 25px; }

  #login .item-row-flex {
    width: 200px; } }

/*# sourceMappingURL=style.css.map */
