<section class="navbar-header navbar-second">
    <div class="items-nav items-nav-second">
        <ul class="navbar-list nav-form-search">
            <li class="form-search {{ queryFood ? 'form-arrow' : ''}}">
                <form-search-recipes value="queryFood"></form-search-recipes>
            </li>
            <li ng-show="queryFood">
                <a class="link link-second" title="Volver a la Búsqueda" ng-href="/search/{{queryFood}}">
                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
    </div>
</section>
<section>
    <h3 class="title-section">Últimas recetas de los usuarios</h3>
    <div ng-hide="vm.showResult">
        <div class="alert alert-info">
            <strong>Cargando recetas...</strong>
        </div>
    </div>
    <div ng-if="vm.recipes" class="col-flex" infinite-scroll="vm.showMoreItems(vm.recipes)" infinite-scroll-distance="0" infinite-scroll-disabled="vm.busy">
        <article class="item-flex" ng-repeat="recipe in vm.aRecipes">
            <recipe-internal ng-if="recipe.urlExternal === undefined" recipe=recipe></recipe-internal>
        </article>
    </div>
</section>
