<section class="navbar-header navbar-second">
    <div class="items-nav">
        <ul class="navbar-list nav-form-search">
            <li class="form-search {{ queryFood ? 'form-arrow' : ''}}">
                <form-search-recipes></form-search-recipes>
            </li>
            <li ng-show="queryFood">
                <a class="link link-second" title="Volver a la Búsqueda" ng-href="#!/search/{{queryFood}}">
                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
    </div>
</section>
<section>
    <h3 class="title-section">Recetas de usuarios seguidos</h3>
    <div class="col-flex">
        <article class="item-flex" ng-repeat="recipe in repeat">
            <recipe-internal recipe=recipe add-bookmark=addBookmark(recipe.id_recipe_ext)></recipe-internal>
        </article>
    </div>
    <button type="button" class="btn btn-primary btn-show-more center-block">Show More</button>
</section>
