<div id="login">
    <h3 class="text-center">Login</h3>
    <div class="row-flex">
        <div class="item-row-flex social-buttons">
            <a href="#" class="btn btn-lg btn-block btn-facebook">
                <i class="fa fa-facebook visible-xs"></i>
                <span class="hidden-xs">Facebook</span>
            </a>
        </div>
        <div class="item-row-flex social-buttons">
            <a href="#" class="btn btn-lg btn-block btn-twitter">
                <i class="fa fa-twitter visible-xs"></i>
                <span class="hidden-xs">Twitter</span>
            </a>
        </div>
        <div class="item-row-flex social-buttons">
            <a href="#" class="btn btn-lg btn-block btn-google">
                <i class="fa fa-google-plus visible-xs"></i>
                <span class="hidden-xs">Google+</span>
            </a>
        </div>
        <div class="item-row-flex not-button">
            <label class="remember-me">
                <input type="checkbox" value="remember-me"><span>Remember Me</span>
            </label>
        </div>
    </div>
</div>
