<section class="profile">
    <div class="row">
        <div class="col-xs-12 button-profile">
            <div>
                <a class="btn btn-default" ng-click="vm.logout()">
                    <i class="fa fa-power-off aria-hidden="true"></i>
                    Salir
                </a>
            </div>
            <div>
                <a class="btn btn-default" href="/profile-edit/{{loggedUser.id}}" role="button">Editar Perfil</a>
            </div>
        </div>
        <div class="col-xs-12 profile-flex">
            <div class="img-user-thumbnail img-profile">
                <span class="thumbnail img-responsive">
                    <img src="http://www.lumineers.me/images/core/profile-image-zabadnesterling.gif" alt="...">
                </span>
            </div>
            <div class="profile-followers">
                <div class="row">
                    <div class="col-xs-4 text-center">
                        <h5 class="bold-text">{{vm.userData.recipes.length}}</h5>
                        <div>
                            Recetas
                        </div>
                    </div>
                    <div class="col-xs-4 text-center">
                        <!-- <h5 class="bold-text">10</h5>
                        <div>
                            Following
                        </div> -->
                    </div>
                    <div class="col-xs-4 text-center">
                        <!-- <h5 class="bold-text">10</h5>
                        <div>
                            Followers
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-8 user-info">
            <h5 class="bold-text">{{vm.userData.name}}</h5>
            <div ng-if="vm.userData.description">
                <p>{{vm.userData.description}}</p>
            </div>
        </div>
        <div class="col-xs-12">
            <h3 class="title-section">Mis recetas</h3>
        </div>
    </div>
    <div class="col-flex recipe-list">
        <article class="item-flex" ng-repeat="recipe in vm.userData.recipes">
            <div class="thumbnail row thumbnail-recipe">
                <section class="col-xs-12">
                    <a href="/recipe/{{recipe._id}}" class="thumbnail img-responsive">
                        <recipe-img recipe="recipe"></recipe-img>
                    </a>
                    <div class="caption">
                        <a href="/recipe/{{recipe._id}}" class="link-text">
                            <h4 class="text-center">{{recipe.title}}</h4>
                        </a>
                    </div>
                </section>
            </div>
        </article>
    </div>
</section>
