<section class="profile">
    <div class="row">
        <div class="col-xs-12 button-profile">
            <div>
                <a class="btn btn-default" ng-click="vm.logout()">
                    <i class="fa fa-power-off aria-hidden="true"></i>
                    Salir
                </a>
            </div>
            <div>
                <a class="btn btn-default" href="/profile-edit" role="button">Editar Perfil</a>
            </div>
        </div>
        <div class="col-xs-12 profile-flex">
            <div class="img-user-thumbnail img-profile">
                <span class="thumbnail img-responsive">
                    <img src="{{vm.userData.image}}" err-src="/img/noimage-user.jpg" alt="{{vm.userData.name}}">
                </span>
            </div>
            <div class="profile-followers">
                <div class="row">
                    <div class="col-xs-4 text-center">
                        <h5 class="bold-text">{{vm.userData.recipes.length}}</h5>
                        <div>
                            Recetas
                        </div>
                    </div>
                    <div class="col-xs-4 text-center">
                        <!-- <h5 class="bold-text">10</h5>
                        <div>
                            Following
                        </div> -->
                    </div>
                    <div class="col-xs-4 text-center">
                        <!-- <h5 class="bold-text">10</h5>
                        <div>
                            Followers
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-8 user-info">
            <h5 class="bold-text">{{vm.userData.name}}</h5>
            <div ng-if="vm.userData.description">
                <p>{{vm.userData.description}}</p>
            </div>
        </div>
        <div class="col-xs-12" ng-if="vm.userData.recipes.length > 0">
            <h3 class="title-section">Mis recetas</h3>
        </div>
    </div>
    <div ng-if="vm.recipes" class="col-flex" infinite-scroll="vm.showMoreItems()" infinite-scroll-distance="0" infinite-scroll-disabled="vm.busy">
        <article class="item-flex" ng-repeat="recipe in vm.recipes | limitTo: vm.limitation">
            <recipe-internal recipe=recipe></recipe-internal>
        </article>
    </div>
    </div>
</section>
