<section class="profile">
    <div class="row">
        <div class="col-xs-12 profile-flex">
            <div class="img-user-thumbnail img-profile">
                <span class="thumbnail img-responsive">
                    <img src="{{vm.userData.image}}" err-src="/img/noimage-user.jpg" alt="{{vm.userData.name}}">
                </span>
            </div>
            <div class="profile-followers">
                <div class="row">
                    <div class="col-xs-4 text-center">
                        <h5 class="bold-text">{{vm.userData.recipes.length}}</h5>
                        <div>
                            Recetas
                        </div>
                    </div>
                    <div class="col-xs-4 text-center">
                        <!-- <h5 class="bold-text">10</h5>
                        <div>
                            Following
                        </div> -->
                    </div>
                    <div class="col-xs-4 text-center">
                        <!-- <h5 class="bold-text">10</h5>
                        <div>
                            Followers
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-8 user-info">
            <h5 class="bold-text">{{vm.userData.name}}</h5>
            <div ng-if="vm.userData.description">
                <p>{{vm.userData.description}}</p>
            </div>
        </div>
        <div class="col-xs-12" ng-if="vm.userData.recipes.length > 0">
            <h3 class="title-section">Recetas publicadas por {{vm.userData.name}}</h3>
        </div>
    </div>
    <div class="col-flex">
        <article class="item-flex" ng-repeat="recipe in vm.userData.recipes">
            <recipe-internal recipe=recipe></recipe-internal>
        </article>
    </div>
</section>
