<div id="login">
    <div ng-show="vm.msg" ng-click="vm.showMsg()">
        <div class="alert alert-danger">
            <strong>Ya existe un usuario registrado con ese correo</strong>
        </div>
    </div>
    <h3 class="text-center">Crear cuenta</h3>
    <div class="omb_login">
        <div class="row omb_row-sm-offset-3">
            <div class="col-xs-12 col-sm-6">
                <form ng-submit="vm.register($event)" class="omb_loginForm" action="" autocomplete="off" method="POST">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        <input type="email" required ng-model="vm.username" class="form-control" placeholder="Dirección de correo electrónico">
                    </div>
                    <span class="help-block"></span>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        <input ng-model="vm.password" required type="password" class="form-control" placeholder="*************">
                    </div>
                    <span class="help-block"></span>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Registrarse</button>
                </form>
            </div>
        </div>
        <div class="new-count">
            <div>¿Ya tienes una cuenta?</div>
            <a class="btn btn-success" href="/login" role="button">Inicia Sesión</a>
        </div>
    </div>
</div>
