<form action="" method="POST" class="form-inline" role="form">
    <article class="row fullscreen-recipe">
        <header class="col-xs-12">
            <input type="text" class="form-control title-recipe" placeholder="Nombre de la receta..." autofocus>
        </header>
        <section class="col-sm-4 col-md-5 text-center fullscreen-recipe-img">
            <img class="img-responsive center-block" src="/img/noimage-recipe.jpg" alt="...">
            <input type="file" class="form-control" placeholder="add ingredients">
        </section>
        <section class="col-sm-8 col-md-7 fullscreen-recipe-ingredients">
            <h3>Ingredientes:</h3>
            <ul>
                <li>
                    <input type="text" class="form-control" placeholder="Añadir ingrediente">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </li>
                <button type="button" class="btn btn-info">Añadir ingrediente</button>
            </ul>
        </section>
        <section class="col-xs-12 fullscreen-recipe-preparation">
            <h3>Preparación:</h3>
            <mierda></mierda>
            <ol>
                <li>
                    <input type="text" class="form-control" placeholder="Paso 1">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </li>
                <button type="button" class="btn btn-info">Añadir paso</button>
            </ol>
        </section>
        <footer class="col-xs-12 text-right">
            <button type="submit" class="btn btn-primary">Guardar</button>
            <button type="submit" class="btn btn-success">Publicar</button>
        </footer>
    </article>
</form>
