<section class="navbar-header navbar-second">
    <div class="items-nav">
        <ul ng-init="showSearch = false" class="navbar-list nav-form-search">
            <li ng-show="showSearch">
                <a class="link link-second" title="Volver a inicio" ng-click="returnPage()">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                </a>
            </li>
            <li class="form-search {{ showSearch || (recipesSearch.length > 0 && showSearch === false) ? 'form-arrow' : ''}}">
                <form action="" method="POST" class="form-inline" role="form" ng-submit="searchRecipes($event)">
                    <div>
                        <i class="fa fa-search icon-search-input" aria-hidden="true"></i>
                        <input type="text" class="search-input" placeholder="Pollo a la sidra" ng-model="query">
                    </div>
                </form>
            </li>
            <li ng-show="recipesSearch.length > 0 && showSearch === false">
                <a class="link link-second" title="Volver a la Búsqueda" ng-click="returnPage()">
                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
    </div>
</section>
<section ng-hide="showSearch">
    <div class="col-flex">
        <article class="item-flex" ng-repeat="r in repeat">
            <div class="thumbnail row thumbnail-recipe app-recipe">
                <header>
                    <div class="col-xs-3">
                        <div>1 hour</div>
                        <div><a href="#" class="link-like">23 <i class="fa fa-cutlery" aria-hidden="true"></i></a></div>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="row">
                            <div class="col-xs-8">
                                <div>Favorite for:
                                    <!--or Shared by:-->
                                </div>
                                <div><a href="#" class="link-thumbnail link-username-recipe">Username</a></div>
                            </div>
                            <div class="col-xs-4 user-thumbnail-recipe">
                                <a href="#" class="thumbnail img-responsive">
                                    <img src="http://www.lumineers.me/images/core/profile-image-zabadnesterling.gif" alt="...">
                                </a>
                            </div>
                        </div>
                    </div>
                </header>
                <section class="col-xs-12">
                    <a href="#" class="thumbnail img-responsive">
                        <img src="http://cdn.blendtec.com/images/RecipeImage/00/22/09/554d31ee40084f83bf527d0eac1f004b/crepes_main_620x320.jpg" alt="...">
                    </a>
                    <div class="caption">
                        <a href="#" class="link-text">
                            <h4 class="text-center">Title recipe</h4>
                        </a>
                        <a href="#" class="link-text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit aliquid inventore accusantium dolorem quia quas quae totam quasi nobis eaque id perspiciatis deserunt distinctio sed, ad,...</p>
                        </a>
                    </div>
                </section>
                <footer class="col-xs-12">
                    <nav>
                        <div class="navbar-thumbnail-recipe">
                            <div class="text-center">
                                <ul class="navbar-list">
                                    <li>
                                        <a class="link link-thumbnail" href="index.html" title="Home">
                                            <i class="fa fa-commenting" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="link link-thumbnail" href="search.html">
                                            <i class="fa fa-cutlery" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="link link-thumbnail link-apply" href="add.html">
                                            <i class="fa fa-bookmark" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="link link-thumbnail" href="book.html">
                                            <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </footer>
            </div>
        </article>
    </div>
    <button type="button" class="btn btn-primary btn-show-more center-block">Show More</button>
</section>
<section ng-show="showSearch" ng-controller="SearchCtrl">
    <div class="col-flex">
        <article class="item-flex" ng-repeat="recipe in recipesSearch | limitTo: paginationLimit()">
            <div ng-if="recipe.publisher" class="thumbnail row thumbnail-recipe">
                <section class="col-xs-12 external-recipe">
                    <div class="caption">
                        <div class="text-center">
                            <a ng-href="{{recipe.url}}" target="_black" class="link-thumbnail brand-extenal-recipe">
                        {{recipe.title}}
                        </a>
                        </div>
                    </div>
                    <a ng-href="{{recipe.url}}" target="_black" class="thumbnail img-responsive">
                        <img ng-src="{{recipe.image}}" err-SRC="/img/noimage-recipe.jpg" alt="{{recipe.title}}">
                    </a>
                </section>
                <footer class="col-xs-12">
                    <nav>
                        <div class="navbar-thumbnail-recipe">
                            <div class="text-center">
                                <ul class="navbar-list">
                                    <li>
                                        <span class="link link-thumbnail link-apply">
                                        <i class="fa fa-bookmark" aria-hidden="true" ng-click="addBookmark(recipe.id_recipe)"></i>
                                    </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                    <header>
                        <div class="col-xs-12 text-center">
                            <div>Puedes encontrar más recetas en:</div>
                            <div><a ng-href="http://{{recipe.publisher_url}}" target="_blank" class="link-text link-username-recipe link-publisher">{{recipe.publisher}}</a></div>
                        </div>
                    </header>
                </footer>
            </div>
            <div ng-if="recipe.autor" class="thumbnail row thumbnail-recipe app-recipe">
                <header>
                    <div class="col-xs-3">
                        <div>1 hour</div>
                        <div><a href="#" class="link-like">23 <i class="fa fa-cutlery" aria-hidden="true"></i></a></div>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="row">
                            <div class="col-xs-8">
                                <div>Favorite for:
                                    <!--or Shared by:-->
                                </div>
                                <div><a href="#" class="link-thumbnail link-username-recipe">Username</a></div>
                            </div>
                            <div class="col-xs-4 user-thumbnail-recipe">
                                <a href="#" class="thumbnail img-responsive">
                                    <img src="http://www.lumineers.me/images/core/profile-image-zabadnesterling.gif" alt="...">
                                </a>
                            </div>
                        </div>
                    </div>
                </header>
                <section class="col-xs-12">
                    <a href="#" class="thumbnail img-responsive">
                        <img src="http://cdn.blendtec.com/images/RecipeImage/00/22/09/554d31ee40084f83bf527d0eac1f004b/crepes_main_620x320.jpg" alt="...">
                    </a>
                    <div class="caption">
                        <a href="#" class="link-text">
                            <h4 class="text-center">Title recipe</h4>
                        </a>
                        <a href="#" class="link-text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit aliquid inventore accusantium dolorem quia quas quae totam quasi nobis eaque id perspiciatis deserunt distinctio sed, ad,...</p>
                        </a>
                    </div>
                </section>
                <footer class="col-xs-12">
                    <nav>
                        <div class="navbar-thumbnail-recipe">
                            <div class="text-center">
                                <ul class="navbar-list">
                                    <li>
                                        <a class="link link-thumbnail" href="index.html" title="Home">
                                            <i class="fa fa-commenting" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="link link-thumbnail" href="search.html">
                                            <i class="fa fa-cutlery" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="link link-thumbnail link-apply" href="add.html">
                                            <i class="fa fa-bookmark" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="link link-thumbnail" href="book.html">
                                            <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </footer>
            </div>
        </article>
    </div>
    <button ng-show="hasMoreItemsToShow(recipesSearch.length)" ng-click="showMoreItems()" type="button" class="btn btn-primary btn-show-more center-block">Show More</button>
</section>
