<div class="col-flex">
    <article class="item-flex" ng-repeat="r in repeat">
        <div class="thumbnail row thumbnail-recipe app-recipe">
            <header>
                <div class="col-xs-3">
                    <div>1 hour</div>
                    <div><a href="#" class="link-like">23 <i class="fa fa-cutlery" aria-hidden="true"></i></a></div>
                </div>
                <div class="col-xs-9 text-right">
                    <div class="row">
                        <div class="col-xs-8">
                            <div>Favorite for:<!--or Shared by:--></div>
                            <div><a href="#" class="link-thumbnail link-username-recipe">Username</a></div>
                        </div>
                        <div class="col-xs-4 user-thumbnail-recipe">
                            <a href="#" class="thumbnail img-responsive">
                                <img src="http://www.lumineers.me/images/core/profile-image-zabadnesterling.gif" alt="...">
                            </a>
                        </div>
                    </div>
                </div>
            </header>
            <section class="col-xs-12">
                <a href="#" class="thumbnail img-responsive">
                    <img src="http://cdn.blendtec.com/images/RecipeImage/00/22/09/554d31ee40084f83bf527d0eac1f004b/crepes_main_620x320.jpg" alt="...">
                </a>
                <div class="caption">
                    <a href="#" class="link-text">
                        <h4 class="text-center">Title recipe</h4>
                    </a>
                    <a href="#" class="link-text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit aliquid inventore accusantium dolorem quia quas quae totam quasi nobis eaque id perspiciatis deserunt distinctio sed, ad,...</p>
                    </a>
                </div>
            </section>
            <footer class="col-xs-12">
                <nav>
                    <div class="navbar-thumbnail-recipe">
                        <div class="text-center">
                            <ul class="navbar-list">
                                <li>
                                    <a class="link link-thumbnail" href="index.html" title="Home">
                                        <i class="fa fa-commenting" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="link link-thumbnail" href="search.html">
                                        <i class="fa fa-cutlery" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="link link-thumbnail link-apply" href="add.html">
                                        <i class="fa fa-bookmark" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="link link-thumbnail" href="book.html">
                                        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </footer>
        </div>
    </article>
</div>
<button type="button" class="btn btn-primary btn-show-more center-block">Show More</button>
