<header class="navbar-header">
    <nav>
        <div class="navbar-primary">
            <div class="container text-center">
                <ul class="navbar-list">
                    <li>
                        <a class="link active" href="index.html" title="Home">
                            <i class="fa fa-home" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a class="link" href="search.html">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </a>
                    </li>
                    <!--<li>
                            <a class="link" href="add.html">
                                <i class="fa fa-plus-square" aria-hidden="true"></i>
                            </a>
                        </li>-->
                    <li>
                        <a class="link" href="book.html">
                            <i class="fa fa-book" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a class="link" href="profile.html">
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="navbar-second text-center">
            <div class="container text-center">
                <ul class="navbar-list">
                    <li>
                        <h3 class="brand-nav"><a class="link active" href="index.html">iCook4me</a></h3>
                    </li>
                    <li>
                        <a class="link" href="message.html">
                            <i class="fa fa-paper-plane" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
