<section class="navbar-header navbar-second">
    <div class="items-nav">
        <ul class="navbar-list nav-form-search">
            <li>
                <a class="link link-second" title="Volver a inicio" href="#!/">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                </a>
            </li>
            <li class="form-search form-arrow">
                <search-recipes></search-recipes>
            </li>
        </ul>
    </div>
</section>
<section>
    <h3 class="title-section">Resultados para el termino "<span>{{queryFood}}</span>"</h3>
    <div class="col-flex" infinite-scroll="showMoreItems()" infinite-scroll-distance="0" infinite-scroll-disabled="hasMoreItemsToShow(aRecipes.length)">
        <article class="item-flex" ng-repeat="recipe in aRecipes | limitTo: paginationLimit()">
            <recipe-external ng-if="recipe.id_recipe_ext !== ''" recipe=recipe add-bookmark=addBookmark(recipe.id_recipe_ext)></recipe-external>
            <recipe-internal ng-if="recipe.id_recipe_ext === ''" recipe=recipe add-bookmark=addBookmark(recipe.id_recipe_ext)></recipe-internal>
        </article>
    </div>
    <div ng-show="aRecipes.length === 0">
        <div class="alert alert-danger">
            <strong>No se han encontrado resultados</strong>
        </div>
    </div>
</section>
