<header id="top" class="navbar-header">
    <nav class="items-nav navbar-primary">
        <ul class="navbar-list">
            <li>
                <h1 class="brand-nav">
                    <a class="link {{section === 'home' ? 'active' : ''}}" href="#!/" title="Inicio">iCook4me</a>
                </h1>
            </li>
        </ul>
        <ul class="navbar-list">
            <li>
                <a class="link {{section === 'add' ? 'active' : ''}}" href="#!/add" title="Añadir receta">
                    <i class="fa fa-plus-square " aria-hidden="true "></i>
                    <span class="text-nav">Nueva receta</span>
                </a>
            </li>
            <li>
                <a class="link {{section === 'bookrecipes' ? 'active' : ''}}" href="#!/bookrecipes" title="Libro de recetas">
                    <i class="fa fa-book" aria-hidden="true"></i>
                    <span class="text-nav">Favoritos</span>
                </a>
            </li>
        </ul>
        <ul class="navbar-list">
            <li>
                <a class="link {{section === 'profile' ? 'active' : ''}}" href="#!/profile" title="Perfil de usuario">
                    <span class="text-nav">Username...</span>
                    <i class="fa fa-user" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
    </nav>
</header>
