<div class="thumbnail row thumbnail-recipe app-recipe">
    <header>
        <div class="col-xs-3">
            <div>1 hour</div>
            <div><a href="#" class="link-like">23 <i class="fa fa-cutlery" aria-hidden="true"></i></a></div>
        </div>
        <div class="col-xs-9 text-right">
            <div class="row">
                <div class="col-xs-8">
                    <div>Favorite for:
                        <!--or Shared by:-->
                    </div>
                    <div><a href="#" class="link-thumbnail link-username-recipe">Username</a></div>
                </div>
                <div class="col-xs-4 user-thumbnail-recipe">
                    <a href="#" class="thumbnail img-responsive">
                        <img src="http://www.lumineers.me/images/core/profile-image-zabadnesterling.gif" alt="...">
                    </a>
                </div>
            </div>
        </div>
    </header>
    <section class="col-xs-12">
        <a href="/recipe/asdfas" class="thumbnail img-responsive">
            <recipe-img recipe="$ctrl.recipe"></recipe-img>
        </a>
        <div class="caption">
            <a href="#" class="link-text">
                <h4 class="text-center">Title recipe</h4>
            </a>
            <a href="#" class="link-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit aliquid inventore accusantium dolorem quia quas quae totam quasi nobis eaque id perspiciatis deserunt distinctio sed, ad,...</p>
            </a>
        </div>
    </section>
    <footer class="col-xs-12">
        <recipe-navbar recipe="$ctrl.recipe"></recipe-navbar>
    </footer>
</div>
